<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

</section>


  <div>
    <%= form_for [@product, @review] do |f| %>
      <%= f.label :description %><br>
      <%= f.text_area :description %><br>
      <%= f.label :rating %><br>
      <%= f.select :rating, [1,2,3,4,5] %><br>
      <%= f.submit("Enter Rating") %>
    <% end %>
  </div>


<section>
  <div class="row">
    <%  @reviews.each do |r| %>
        <div class="col-md-6">
          <h4><%= r.user.first_name %> <%= r.user.last_name %></h4>
          <p><%= r.description %></p>
          <p><strong>Rating:</strong> <%= r.rating %></p>
          <% if r.user == current_user %>
          <%= button_to "delete", product_review_path(@product, r), :method => :delete %>
        <% end %>
        </div>
    <% end %>
  </div>
</section>
